@model int

<a href="@Url.Action("Update/" + Model)" class="btn btn-info btn-simple btn-icon">
    <i class="ti-reload"></i> 
</a>
<a href="@Url.Action("Delete/" + Model)" class="btn btn-danger btn-simple btn-icon">
    <i class="ti-trash"></i> 
</a>