@model MyPortfolio.Models.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<section class="colorlib-contact">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <span class="heading-meta">Login</span>
                <h2 class="colorlib-heading">Login</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                <form asp-antiforgery="true" method="post" asp-action="Login" asp-controller="Account">
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" placeholder="E-Mail" autocomplete="off">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="Password" placeholder="Password" autocomplete="off">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-send-message" value="Sign In">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

