@model MyPortfolio.Models.Experience
@{
    ViewData["Title"] = "Delete the Existing Experience";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">@ViewData["Title"]</h4>
            </div>
            <div class="content">
                <form class="post" asp-antiforgery="true">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="InstituteName"></label>
                                <input readonly asp-for="InstituteName" class="form-control border-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Caption"></label>
                                <input readonly asp-for="Caption" class="form-control border-input">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="StartedAt"></label>
                                <input readonly asp-for="StartedAt" class="form-control border-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FinishedAt"></label>
                                <input readonly asp-for="FinishedAt" class="form-control border-input">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Body"></label>
                                <textarea readonly asp-for="Body" rows="5" class="form-control border-input"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="">
                        <a style="border-radius: 4px" asp-action="Index" class="btn btn-default btn-fill">
                            <span class="ti-angle-left"></span>
                        </a>
                        <button asp-route-id="@Model.Id" style="border-radius: 4px" type="submit" class="btn btn-danger btn-fill btn-wd">
                            <span class="ti-trash"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>