<nav id="colorlib-main-menu" role="navigation" class="navbar">
    <div class="collapse">
        <ul>
            <li><a asp-action="Index" asp-controller="Blog">View All Posts</a></li>
        </ul>
        <hr />
        <ul>
            <li><a asp-action="Index" asp-controller="Home">Return to Home</a></li>
        </ul>
    </div>
</nav>