<ul class="vcard-nav">
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")"><a asp-action="Index" asp-controller="Home">About</a></li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Education" ? "active" : "")"><a asp-action="Index" asp-controller="Education">Education</a></li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Experience" ? "active" : "")"><a asp-action="Index" asp-controller="Experience">Experience</a></li>
</ul>