<nav id="colorlib-main-menu" role="navigation" class="navbar">
    <div id="navbar" class="collapse">
        <ul>
            <li><a href="#" data-nav-section="about">About Me</a></li>
            <li><a href="#" data-nav-section="education">Education</a></li>
            <li><a href="#" data-nav-section="experience">Experiences</a></li>
            <li><a href="#" data-nav-section="work">Works</a></li>
            <li><a href="#" data-nav-section="contact">Contact</a></li>
        </ul>
    </div>
</nav>