@model IEnumerable<MyPortfolio.Models.Resume>

<section class="colorlib-about" data-section="about">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                        <div class="col-md-12">
                            <div class="about-desc">
                                <span class="heading-meta">About Us</span>
                                <h2 class="colorlib-heading">Who Am I?</h2>
                                <p><strong>Hi I'm @item.FirstName @item.LastName</strong></p>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="hire">
                                <h2>Here is my CV. You may download below.</h2>
                                <a href="@item.CurriculumVitae" class="btn-hire">Download my CV</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>